@charset "UTF-8";


/* 로그인 */
.wrap__login{position: relative; width:100%; background: #f5f6fc; min-height: calc(100vh - 50px); display: flex; flex-direction: column; -webkit-flex-direction: column;}

.wrap__login__ci{position: absolute; top: 60px; right: 60px; width: 100px; height: 40px; background: url('../img/sta-ds.png') no-repeat center;}

.box__login{padding: 60px 0; width: 780px; margin: auto; box-sizing: border-box;}

.box__login header{position: relative; text-align:center; color: #505050;}

.box__login header h1{font-size: 60px; font-weight: 700; line-height: 1;}

.box__login header h2{font-size: 30px; font-weight: 400; line-height: 1; margin: 20px 0 0;}

.box__login .box__login__content{margin: 50px 0 0; padding: 74px 210px 70px; background: #fff; border-radius: 8px; box-shadow: 8px 8px 10px rgba(0,0,0,.08);}

.box__login .input__login{width:100%; box-sizing:border-box;}

.box__login .input__login + .input__login{margin: 32px 0 0;}

.box__login .input__login label{display: block; font-size: 20px; margin: 0 0 8px;}

.box__login .input__login input{width: 100%; height: 40px; padding: 0 15px; border: solid 1px #222; border-radius: 6px;}

.box__login .btn__login{display:block; width:100%; height: 50px; margin: 60px 0 40px; font-size: 20px; text-align: center; background: #1c83ed; border-radius: 6px; box-sizing:border-box; color:#fff; transition: all 0.6s ease; cursor: pointer;}

.box__login .btn__login:hover{background:#1c1b1b;}

.box__login .login__util{display: flex; flex-wrap: flex;}

.box__login .login__util a{display: block; flex: 1 1; text-align: center; line-height: 1; font-size: 18px; transition: all .4s ease; -webkit-transition: all .4s ease;}

.box__login .login__util a:hover{color: #1c83ed;}


.wrap__join{padding: 80px 40px 40px; background: none; min-height: calc(100vh - 50px); box-sizing: border-box;}

.wrap__join.bg{background: #f5f6fc;}

.wrap__join .header .header__util{display: none;}
	
.wrap__join .tit__section{margin: 20px 0 38px;}


.wrap__join .wrap__page__btn{margin: 60px 0 0;}

.wrap__join .wrap__page__btn:after{content: ''; display: block; clear: both;}

.wrap__join .wrap__page__btn > div{float: left; display: block; width: 50%; box-sizing: border-box;}

.wrap__join .wrap__page__btn > div:nth-child(1){padding-right: 10px;}

.wrap__join .wrap__page__btn > div:nth-child(2){padding-left: 10px;}

.wrap__join .wrap__page__btn > div button{display: block; width: 100%;}


.wrap__join .tit__section .tit__section__info{float: left; padding: 0;}


.join__form{margin: 0 auto; padding: 0; background: none; box-sizing: border-box;}

.join__form__step1{width: 800px;}

.join__form__step2{width: 600px;}

.join__form__step3{width: 780px; padding: 80px 0 0;}


.join__form .wrap__agree__all{font-size: 20px; padding: 0 0 38px;}
.join__form .wrap__agree__all .checkbox__wrap{height: 24px;}
.join__form .wrap__agree__all .checkbox__wrap input[type="checkbox"] + span.ico{width: 24px; height: 24px; vertical-align: -5px; background:url('../img/bg-check-off2.png') no-repeat center; }
.join__form .wrap__agree__all .checkbox__wrap input[type="checkbox"]:checked + span.ico{background: url('../img/bg-check-on2.png') no-repeat;}


.join__form dl dt{font-size: 20px; background: #e5f2ff; padding: 18px 20px;}

.join__form dl dt .checkbox__wrap input[type="checkbox"] + span.ico{vertical-align: -2px; background: #fff;}

.join__form dl dt .checkbox__wrap input[type="checkbox"]:checked + span.ico{background: url('../img/bg-check-on.png') no-repeat;}

.join__form dl dd{margin: 1px 0 0 ; padding: 15px 20px; line-height: 1.4; color: #575757; height: 150px; background: #f5f8fc; border: solid 1px #e8e8e8; overflow-y: scroll; box-sizing: border-box;}

.join__form dl dd::-webkit-scrollbar {width: 8px;}
.join__form dl dd::-webkit-scrollbar-button:start:decrement,
.join__form dl dd::-webkit-scrollbar-button:end:increment {display: block; height: 0; background: #ebebec}
.join__form dl dd::-webkit-scrollbar-track {background: #ebebec;}
.join__form dl dd::-webkit-scrollbar-thumb {height: 8px; width: 8px; background: #d0d0d0; -webkit-border-radius: 0; border-radius: 0;}

.join__form dl dd.join__agree__box2{height: 300px;}

.join__form dl + dl{margin: 40px 0 0;}


.wrap__join .join__form .tit__sub{line-height: 1; margin-bottom: 10px;}

.wrap__join .join__form .tit__sub h3{font-size: 20px; font-weight: 500;}

.wrap__join .join__form .tit__sub .checkbox__wrap{font-size: 16px; color: #969696; margin: 0 0 0 20px;}


.join__form table{width: 100%;}

.join__form table th{text-align: left; padding: 10px 0; font-size: 20px; font-weight: 400; height: 70px; box-sizing: border-box}

.join__form table td{text-align: left; padding: 10px 0; font-size: 20px; height: 70px; box-sizing: border-box;}

.join__form table td input{height: 50px; font-size: 18px;}

.join__form table td select{height: 50px; font-size: 18px;}

.join__form table .required{color: #ff0000;}

.join__form table .btn__base{min-width: 80px; height: 50px;}

.join__form table .wrap__form__item__label{line-height: 50px; font-size: 14px; font-weight: 400;}

.join__form table + .tit__sub{margin-top: 55px;}

.join__form table td .wrap__input--part{height: 50px;}

.join__form table td .wrap__input--part input{height: 48px;}


.join__form table td .join__id{padding: 0 10px 0 48px; background: url('../img/ico-id.png') no-repeat 8px center;}
.join__form table td .join__pw{padding: 0 10px 0 48px; background: url('../img/ico-password.png') no-repeat 9px center;}
.join__form table td .join__chk{padding: 0 10px 0 48px; background: url('../img/ico-password-check.png') no-repeat 9px center;}

.join__form table td .join__id:focus{padding: 0 10px 0 48px; background: url('../img/ico-id-on.png') no-repeat 8px center;}
.join__form table td .join__pw:focus{padding: 0 10px 0 48px; background: url('../img/ico-password-on.png') no-repeat 9px center;}
.join__form table td .join__chk:focus{padding: 0 10px 0 48px; background: url('../img/ico-password-check-on.png') no-repeat 9px center;}


.wrap__member__type{padding: 10px 0;}

.wrap__member__type li{padding: 5px 0; font-size: 18px; color: #575757;}


.wrap__member__content .tit__sub{line-height: 1; margin-top: 30px; padding: 40px 0 0; border-top: solid 1px #d0d0d0;}


.wrap__member__info{margin: 50px 0 0; padding: 30px; font-size: 18px; text-align: center; line-height: 1.2; text-align: center; background: #e5f2ff;}


.wrap__join__complete{position: relative; padding: 80px 90px; background: #fff; border-radius: 8px; box-shadow: 8px 8px 10px rgba(0,0,0,.08); overflow: hidden;}

.wrap__join__complete::after{content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 8px; background: #1c83ed;}

.wrap__join__complete h3{font-size: 20px; text-align: center; line-height: 1;}

.wrap__join__complete button{width: 360px;}


.container__join__complete{position: fixed; width: 780px; background: #fff; z-index: 1100; box-sizing: border-box; top: 50%; left: 50%; display: none; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);}