<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kt.totaleyes.mapper.UserMapper">

	<select id="findByBizNo" parameterType="String" resultType="Integer">
		select count(*)
		from tbl_biz_info
		where
			biz_no = #{bizNo}
		and del_yn = 'N'
	</select>
	
	<select id="findByBizNoAndApprvlY" resultType="Integer">
		select count(*)
		from tbl_biz_info
		where
			biz_no = #{bizNo}
		and del_yn = 'N'
		and apprvl_yn = 'Y'
	</select>
		
	<insert id="createBiz" parameterType="com.kt.totaleyes.vo.UserVo" useGeneratedKeys="true" keyProperty="bizSeq">
		insert into	tbl_biz_info(
			biz_nm, biz_no, ceo_nm, biz_cndt, biz_type, agnt_nm, agnt_email, agnt_cntct_no
			, del_yn, apprvl_yn, created_tm, created_by, updated_tm, updated_by)
		values(#{bizNm}, #{bizNo}, #{ceoNm}, #{bizCndt}, #{bizType}, #{agntNm}, #{agntEmail}, #{agntCntctNo}
			, 'N', 'N', current_timestamp, #{userId}, current_timestamp, #{userId})
	</insert>
	
	<insert id="createBizUser" parameterType="com.kt.totaleyes.vo.UserVo">
		insert into tbl_user_info (user_id, pwd, user_nm, user_email, user_cntct_no, user_role, biz_seq, mstr_yn
			, del_yn, created_tm, created_by, updated_tm, updated_by)
		values(#{userId}, crypt(#{pwd}, gen_salt('MD5')), #{userNm}, #{userEmail}, #{userCntctNo}, #{userRole}, #{bizSeq}, #{mstrYn}
			, 'N', current_timestamp, #{userId}, current_timestamp, #{userId})
	</insert>
	
	<insert id="createUser" parameterType="com.kt.totaleyes.vo.UserVo">
		insert into tbl_user_info (user_id, pwd, user_nm, user_email, user_cntct_no, user_role
			, del_yn, created_tm, created_by, updated_tm, updated_by)
		values(#{userId}, crypt(#{pwd}, gen_salt('MD5')), #{userNm}, #{userEmail}, #{userCntctNo}, #{userRole}
			, 'N', current_timestamp, #{userId}, current_timestamp, #{userId})
	</insert>
	
	<select id="countByApprvlN" resultType="int">
		select
			count(1) as cnt
		from
			tbl_user_info a
			left outer join tbl_biz_info b on a.biz_seq = b.biz_seq and b.del_yn = 'N'
		where
			a.del_yn = 'N'
		and	a.apprvl_yn = 'N'
		and (a.mstr_yn ='Y' or a.mstr_yn is null)
		<if test='searchType == "name" and searchNm != null and searchNm != ""'>
			and a.user_nm like '%' || #{searchNm} || '%'
		</if>
	</select>
	
	<select id="findByApprvlN" resultType="com.kt.totaleyes.vo.UserVo">
		select
			a.user_id, a.user_nm, a.user_email, a.user_cntct_no, a.mstr_yn, to_char(a.created_tm, 'yyyy-mm-dd hh24:mi:ss') as created_tm 
			, b.biz_nm, b.biz_no, b.ceo_nm, b.biz_cndt, biz_type, b.agnt_nm, b.agnt_email, b.agnt_email, b.apprvl_yn as bizApprvlYn
		from
			tbl_user_info a
			left outer join tbl_biz_info b on a.biz_seq = b.biz_seq and b.del_yn = 'N'
		where
			a.del_yn = 'N'
		and a.apprvl_yn = 'N'
		and (a.mstr_yn ='Y' or a.mstr_yn is null)
		<if test='searchType == "name" and searchNm != null and searchNm != ""'>
			and a.user_nm like '%' || #{searchNm} || '%'
		</if>
		order by created_tm desc
		limit #{listSize} offset #{startList}
	</select>
	
</mapper>